name: Sukka Friends

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          check-latest: true
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm run build
      - run: cp -r src/img dist/img
      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=sukka-friends --commit-dirty=true --branch=main
          wranglerVersion: latest
